<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>uuidgen.alfred</string>
	<key>connections</key>
	<dict>
		<key>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C54681E9-F282-400D-A43E-7819FD9EF3D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>UUID to clipboard (no pasting)</string>
			</dict>
		</array>
		<key>C54681E9-F282-400D-A43E-7819FD9EF3D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F47FBF78-6199-408C-B318-05CCB13D659F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>emai</string>
	<key>description</key>
	<string>Generate UUID and copy to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>UUIDGen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>uuidgen</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C54681E9-F282-400D-A43E-7819FD9EF3D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F47FBF78-6199-408C-B318-05CCB13D659F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>uuid</string>
				<key>subtext</key>
				<string>Paste new UUID at cursor</string>
				<key>text</key>
				<string>uuidgen</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>23FECE94-BD2A-4925-96B0-D153DCE85B41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Created UUID</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B7FA9283-6686-4A49-BDB8-E4118B513949</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>842D97E1-7350-4457-9A6D-C013F1968C20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>uuidgen</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>09BED4E6-1382-4C80-AC36-5FDD3D3B6536</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>23FECE94-BD2A-4925-96B0-D153DCE85B41</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>842D97E1-7350-4457-9A6D-C013F1968C20</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B7FA9283-6686-4A49-BDB8-E4118B513949</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C54681E9-F282-400D-A43E-7819FD9EF3D9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F47FBF78-6199-408C-B318-05CCB13D659F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/eliasmaier/uuidgen.alfred</string>
</dict>
</plist>
